.search{
    position: relative;
    border-radius: 20px;
    width: 540px;
    height: 40px;
    background-color: var(--alpha-bg);
    margin-right: 128px;
}

.inputt{
    position: absolute;
    top: 0;
    left: 38px;
    right: 10px;
    bottom: 0;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        color: var(--white);
        font-size: 14px;
        caret-color: var(--white);
        background-color: transparent;
    }
    input:focus {
        outline: none;
     }

}

.inputt-text{
    margin: 0;
    display: inline-block;
    width: 95%;
    border: 0;
    position: relative;
    font-size: 18px;
    top: 2px;
    height: 34px;
    line-height: 34px;
    background-color: transparent;

}
.search-btn{
    background-color: transparent;
    color: var( --text-navi);
    width: 34px;
    height: 34px;
    font-size: 18px;
    border-color: transparent;
    padding-top: 4px;
    cursor: pointer;
}
::placeholder {
    color: var(--text-navi);
}